@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} 

:where(.css-dev-only-do-not-override-49qm).ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input { 
  color: #4E4E4E !important;
}
 
.ant-pagination .ant-pagination-item-active a {
  color: #0A2369 !important;
} 

.ant-pagination .ant-pagination-item-active { 
  border:1px solid #0A2369 !important;
} 

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {

  /* background: #6b5ecc34;  */
  background: #ffffff67;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b5ecc34;
}  


/* for Google Translate   */   

/* Hide the Google Translate banner */

.antialiased{
    position: inherit ! important;
}

/* Hide the Google Translate toolbar */
.goog-te-gadget {
  display: none !important;
} 
/* Hide the Google Translate banner */
.goog-te-banner-frame {
  display: none !important;
}
/* Remove pop-up preview */
.goog-te-balloon-frame {
  display: none !important;
}
 
/* Hide the floating dropdown */
.goog-te-menu-frame {
  display: none !important;
}
 
/* Hide Google Translate Top Bar */
.skiptranslate {
  display: none !important;
}
 
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none !important;
}
 
.VIpgJd-ZVi9od-aZ2wEe {
  display: none !important;
} 

/* ::selection {
  background: #e8eefe !important;
  color: white !important;
} */

/* finish there  */ 

.notranslate {
  translate: no;
} 