@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} 

:where(.css-dev-only-do-not-override-49qm).ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input { 
  color: #4E4E4E !important;
}
 
.ant-pagination .ant-pagination-item-active a {
  color: #0A2369 !important;
} 

.ant-pagination .ant-pagination-item-active { 
  border:1px solid #0A2369 !important;
}